{
  "log": {
    "_recordingName": "evmconnector.callcontract-(ethereum)/creates-a-contract-call-transaction",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3d34dc2d430aa74fff64cde031bedc2b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/addressBalance?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 143,
            "text": "{\"address\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"confirmed\":\"0.006604540451152147\",\"unconfirmed\":\"0\",\"confirmedWei\":\"6604540451152147\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999973"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773308334"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 306,
      },
      {
        "_id": "4a8bd2f12d7a9dd4553e1885239ed0cb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/ethereum/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 710,
            "text": "{\"low\":{\"maxFeePerGas\":\"4.5101786e-11\",\"maxPriorityFeePerGas\":\"1.5e-17\",\"confirmationTimeSecs\":47.76,\"maxFeePerGasGwei\":\"0.045101786\",\"maxPriorityFeePerGasGwei\":\"1.5e-8\"},\"normal\":{\"maxFeePerGas\":\"4.6101771e-11\",\"maxPriorityFeePerGas\":\"1e-12\",\"confirmationTimeSecs\":23.88,\"maxFeePerGasGwei\":\"0.046101771\",\"maxPriorityFeePerGasGwei\":\"0.001\"},\"high\":{\"maxFeePerGas\":\"5.9105184e-11\",\"maxPriorityFeePerGas\":\"1.4003413e-11\",\"confirmationTimeSecs\":11.94,\"maxFeePerGasGwei\":\"0.059105184\",\"maxPriorityFeePerGasGwei\":\"0.014003413\"},\"maximum\":{\"maxFeePerGas\":\"1.949863675e-9\",\"maxPriorityFeePerGas\":\"1.904761904e-9\",\"confirmationTimeSecs\":11.94,\"maxFeePerGasGwei\":\"1.949863675\",\"maxPriorityFeePerGasGwei\":\"1.904761904\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
[...]
