{
  "log": {
    "_recordingName": "EthereumWallet.test/ethereum-get-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3d34dc2d430aa74fff64cde031bedc2b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/addressBalance?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 50,
            "text": "{\"confirmed\":\"0.00198349910279\",\"unconfirmed\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"32-CdFH6anLFn6L4u1xzR8u4dMUrXg\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "897"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1750118400000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 476,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
