{
  "log": {
    "_recordingName": "utxoconnector-(bitcoin-testnet)/transfer---enough-funds-and-broadcast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f339fef3e52e9df7473fc78093a81748",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/bitcointestnet/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 249,
            "text": "{\"low\":{\"feePerKb\":\"0.00000999\",\"confirmationTimeSecs\":12000},\"normal\":{\"feePerKb\":\"0.00000999\",\"confirmationTimeSecs\":6000},\"high\":{\"feePerKb\":\"0.00000999\",\"confirmationTimeSecs\":3000},\"maximum\":{\"feePerKb\":\"0.00000999\",\"confirmationTimeSecs\":600}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999969"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773146918"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      },
      {
        "_id": "2a542c192e07b3f7ba3ea101822604fa",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcointestnet/utxosByAddress?address=tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 241,
            "text": "{\"address\":\"tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73\",\"page\":0,\"utxos\":[{\"txid\":\"54d776050466865c7ad3bb02363947cc918acec7450c563422ae0c53ebb0f64b\",\"n\":0,\"amount\":\"0.005\",\"height\":0,\"script\":\"00140799fd7311705f68cc79bcd25fc4aaee377f30ce\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999968"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773146919"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 48,
      },
      {
        "_id": "ad702dcb10f6b1065235bdd19206b0a1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"transactionRaw\":\"020000000001014bf6b0eb530cae2234560c45c7ce8a91cc47393602bbd37a5c8666040576d7540000000000ffffffff02f401000000000000160014b42ed0f1c3aef2644435af375f6e6c111d096d6b9f9e0700000000001600140799fd7311705f68cc79bcd25fc4aaee377f30ce0247304402206bc4cfa9479605fa5adb195a9aa0afd754b8898b4a05afb66eebcf5ac8e77fd202207b9e2ff0b84f2ede12572cefa769992c0d062782148d8570674397439d63e0a30121031e280a7c2214c17d4a31e9a59759e3999c3dbba9ac0a6435b3ae280e5b3e340b00000000\"}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/bitcointestnet/broadcastTransaction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"txId\":\"aded3b958550bd6af5cff19f28f33724d6d3734b2957bab2d419f985e44ecedd\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999967"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773146919"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
