{
  "log": {
    "_recordingName": "evmrpcconnector-token-transfers-(avalanche-via-rpc)/transfererc1155---erc-1155-safetransferfrom-succeeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "16618df7fbcf1ae0b8c094d228491f0e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_getTransactionCount\",\"params\":[\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"latest\"],\"id\":1}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 40,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0x5\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 95,
      },
      {
        "_id": "27bd03f37aab9a7eba4b58b1b11e367b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_gasPrice\",\"params\":[],\"id\":3}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":3,\"result\":\"0x26206bf\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 89,
      },
      {
        "_id": "783723ef4a66e42b2c5d99026cc0ad34",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_estimateGas\",\"params\":[{\"from\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"to\":\"0xd37d5f87c5b607b7d665e9109c23bfbea5185bae\",\"value\":\"0x0\",\"data\":\"0xf242432a000000000000000000000000e7c19d5a90352b5ee0144363d1191e2549ca2146000000000000000000000000df24f68aa8a034bcd7779c5bed3a9bd7e7e114890000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000500000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000000\"}],\"id\":2}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rp[...]
