{
  "log": {
    "_recordingName": "evmconnector-token-transfers-(avalanche)/transfertoken---erc-20-transfer-succeeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d037deec9042ef2917847111e7d51a71",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "contractAddress",
              "value": "0x3be5123Ff8C89F6F5b1c70CD82e2fF70Eb8D1475"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/tokenData?contractAddress=0x3be5123Ff8C89F6F5b1c70CD82e2fF70Eb8D1475"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 244,
            "text": "{\"contractAddress\":\"0x3be5123ff8c89f6f5b1c70cd82e2ff70eb8d1475\",\"standard\":\"ERC-20\",\"name\":\"TestToken\",\"symbol\":\"TT\",\"decimals\":18,\"totalSupply\":\"1000000000000000000000000\",\"totalSupplyFormatted\":\"1000000\",\"supportsERC165\":false,\"logoUrl\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999812"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777978883"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 214,
      },
      {
        "_id": "3d2a957e5efa12ea582212a219606b57",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/nonce?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 14,
            "text": "{\"nonce\":\"18\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999811"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "[...]
