{
  "log": {
    "_recordingName": "evmconnector-token-transfers-(avalanche)/transfertoken---not-enough-avax-for-gas",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d037deec9042ef2917847111e7d51a71",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "contractAddress",
              "value": "0x3be5123Ff8C89F6F5b1c70CD82e2fF70Eb8D1475"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/tokenData?contractAddress=0x3be5123Ff8C89F6F5b1c70CD82e2fF70Eb8D1475"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 244,
            "text": "{\"contractAddress\":\"0x3be5123ff8c89f6f5b1c70cd82e2ff70eb8d1475\",\"standard\":\"ERC-20\",\"name\":\"TestToken\",\"symbol\":\"TT\",\"decimals\":18,\"totalSupply\":\"1000000000000000000000000\",\"totalSupplyFormatted\":\"1000000\",\"supportsERC165\":false,\"logoUrl\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999802"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777978884"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 92,
      },
      {
        "_id": "2baf30584b6697acaac73623be257680",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xb44384aEc304B1b1a6B4e52A3B030da169FE8384"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/nonce?address=0xb44384aEc304B1b1a6B4e52A3B030da169FE8384"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 13,
            "text": "{\"nonce\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999801"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777978885"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 88,
      },
      {
        "_id": "8e037806beeb312ea58750028ac1ea61",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xb44384aEc304B1b1a6B4e52A3B030da169FE8384"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/addressBalance?address=0xb44384aEc304B1b1a6B4e52A3B030da169FE8384"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 109,
            "text": "{\"address\":\"0xb44384aEc304B1b1a6B4e52A3B030da169FE8384\",\"confirmed\":\"0\",\"unconfirmed\":\"0\",\"confirmedWei\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999799"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777978885"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141,
      },
      {
        "_id": "8980a734c8c670256280492d42a69e7d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/avalanche/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 674,
            "text": "{\"low\":{\"maxFeePerGas\":\"2.043727e-12\",\"maxPriorityFeePerGas\":\"0\",\"confirmationTimeSecs\":4.98,\"maxFeePerGasGwei\":\"0.002043727\",\"maxPriorityFeePerGasGwei\":\"0\"},\"normal\":{\"maxFeePerGas\":\"2.044727e-12\",\"maxPriorityFeePerGas\":\"1e-15\",\"confirmationTimeSecs\":2.49,\"maxFeePerGasGwei\":\"0.002044727\",\"maxPriorityFeePerGasGwei\":\"0.000001\"},\"high\":{\"maxFeePerGas\":\"2.044727e-12\",\"maxPriorityFeePerGas\":\"1e-15\",\"confirmationTimeSecs\":1.245,\"maxFeePerGasGwei\":\"0.002044727\",\"maxPriorityFeePerGasGwei\":\"0.000001\"},\"maximum\":{\"maxFeePerGas\":\"5.473727e-12\",\"maxPriorityFeePerGas\":\"3.43e-12\",\"confirmationTimeSecs\":1.245,\"maxFeePerGasGwei\":\"0.005473727\",\"maxPriorityFeePerGasGwei\":\"0.00343\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
            [...]
