{
  "log": {
    "_recordingName": "utxoconnector-(dogecoin)/transfer---enough-funds-and-broadcast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0eef9d456bfa1072fbd7ad7266068272",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/dogecoin/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"low\":{\"feePerKb\":\"0.01002551\",\"confirmationTimeSecs\":1200},\"normal\":{\"feePerKb\":\"0.01002551\",\"confirmationTimeSecs\":600},\"high\":{\"feePerKb\":\"0.43446097\",\"confirmationTimeSecs\":300},\"maximum\":{\"feePerKb\":\"0.50253135\",\"confirmationTimeSecs\":60}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999976"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145441"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 51,
      },
      {
        "_id": "68311715f98f4fd69887e4e66d99e692",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/dogecoin/utxosByAddress?address=DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 243,
            "text": "{\"address\":\"DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy\",\"page\":0,\"utxos\":[{\"txid\":\"1dc33b1546e9c1296f54b7d7e278cca6b8227e7065d53306172b04536ad8c913\",\"n\":1,\"amount\":\"50.693707\",\"height\":0,\"script\":\"76a914a015a5544a699c97eccc90e5f51bc3cf7736e4ed88ac\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999975"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145441"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 50,
      },
      {
        "_id": "da01510f90c56da11680c087927497fb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"transactionRaw\":\"020000000113c9d86a53042b170633d565707e22b8a6cc78e2d7b7546f29c1e946153bc31d010000006a47304402205ca75f166dedbdab119a7daa7b1ab7c5afa8a800f4d557b9a83d0eb83ea9061402205b185c1f10ebe2e0368cfe69ae9cf44091db2b41b2a8cf73abcdde9ec303b71801210292291f9227f9426c375bdcf6fa5d547977466027904005385f7db46b98b933b0ffffffff0200e1f505000000001976a9146877f7eb27fa8c4f008a6c759b5aa9ad6df5060b88ac6a933228010000001976a914a015a5544a699c97eccc90e5f51bc3cf7736e4ed88ac00000000\"}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/dogecoin/broadcastTransaction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"txId\":\"7f61952373a3e3c964be627d5c73d8848ac996a9fb99eb9a4ffbb34c11f0ccbd\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999974"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145441"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 60,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
