{
  "log": {
    "_recordingName": "utxoconnector-(litecoin)/transfer---enough-funds-and-broadcast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "19ad9b307cbf7a6fde2bd413bc0c2db8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/litecoin/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 247,
            "text": "{\"low\":{\"feePerKb\":\"0.00000996\",\"confirmationTimeSecs\":3000},\"normal\":{\"feePerKb\":\"0.00000996\",\"confirmationTimeSecs\":1500},\"high\":{\"feePerKb\":\"0.00000996\",\"confirmationTimeSecs\":750},\"maximum\":{\"feePerKb\":\"0.00000996\",\"confirmationTimeSecs\":150}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999983"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145441"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 57,
      },
      {
        "_id": "6231f8f0bfa095b6efc94f4e3a5165d6",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/litecoin/utxosByAddress?address=ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 247,
            "text": "{\"address\":\"ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu\",\"page\":0,\"utxos\":[{\"txid\":\"3dc23994a6f3601cafd4a8367e5992108a9ea871763f6def4974d6722a353a93\",\"n\":1,\"amount\":\"0.19261351\",\"height\":0,\"script\":\"001404b477ee551394f1669a5fe5f75d7377fee70ba4\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999982"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145441"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 51,
      },
      {
        "_id": "3c33173f701351d9ad834a5ee12d3428",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"transactionRaw\":\"02000000000101933a352a72d67449ef6d3f7671a89e8a1092597e36a8d4af1c60f3a69439c23d0100000000ffffffff02a0860100000000001600141b5a0828f77b6c98b5effa7912bbd810a9ed29727a6024010000000016001404b477ee551394f1669a5fe5f75d7377fee70ba402473044022049204bf848e863b3fdc3b6474ad81caffdb255ecc0fbb8495dae8c0f30435b11022023f5a8cb80defa98796289736cc1005bdb848801e6538645fe11d4d158037cdc012102715a7704aea3dea15d581be5c829725ff910df76c8b642488ee2fe62f66c83d400000000\"}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/litecoin/broadcastTransaction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"txId\":\"312ab2fc105ebd1dbbf27962f7c65eba028c9c30d26b00e5397bb4164dc8cfa9\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999981"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145441"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 59,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
