{
  "log": {
    "_recordingName": "evmconnector-(avalanche)/transfer---enough-funds-and-broadcast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8980a734c8c670256280492d42a69e7d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/avalanche/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 669,
            "text": "{\"low\":{\"maxFeePerGas\":\"1.962536e-12\",\"maxPriorityFeePerGas\":\"0\",\"confirmationTimeSecs\":5.22,\"maxFeePerGasGwei\":\"0.001962536\",\"maxPriorityFeePerGasGwei\":\"0\"},\"normal\":{\"maxFeePerGas\":\"1.963536e-12\",\"maxPriorityFeePerGas\":\"1e-15\",\"confirmationTimeSecs\":2.61,\"maxFeePerGasGwei\":\"0.001963536\",\"maxPriorityFeePerGasGwei\":\"0.000001\"},\"high\":{\"maxFeePerGas\":\"1.963536e-12\",\"maxPriorityFeePerGas\":\"1e-15\",\"confirmationTimeSecs\":1.305,\"maxFeePerGasGwei\":\"0.001963536\",\"maxPriorityFeePerGasGwei\":\"0.000001\"},\"maximum\":{\"maxFeePerGas\":\"2.962536e-12\",\"maxPriorityFeePerGas\":\"1e-12\",\"confirmationTimeSecs\":1.305,\"maxFeePerGasGwei\":\"0.002962536\",\"maxPriorityFeePerGasGwei\":\"0.001\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999985"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777966264"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169,
      },
      {
        "_id": "811878313ca240f06f3542f20db0f9a2",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/addressBalance?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 145,
            "text": "{\"address\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"confirmed\":\"0.336855590342129165\",\"unconfirmed\":\"0\",\"confirmedWei\":\"336855590342129165\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999984"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777966264"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      },
      {
        "_id": "3d2a957e5efa12ea582212a219606b57",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/nonce?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 14,
            "text": "{\"nonce\":\"10\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999906"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777977519"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194,
      },
      {
        "_id": "f87774dda47bdb44624f41f7af1e630c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"transactionRaw\":\"0x02f87082a86a0a8203e8831df610825208941853be2c350eb9588bdc2af73bdaa0c4b8ac358387038d7ea4c6800080c001a04a7d73a76ad8f7297a8d8c6b9470c478abdc4af59b7878ac7e9bdad5555dc938a073bdfe55571134cfd15484c06d0de53adb76822274baa5ecddf22c4d0028b237\"}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/avalanche/broadcastTransaction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 86,
            "text": "{\"transactionId\":\"0x7474bacb0fbe28093c9b5d140cfd8e36d7b220eaa1fdd433605b24a4c148b9b2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999899"
            },
            {
              "name": "x-quota-reset",
              "value": "[...]
