{
  "log": {
    "_recordingName": "evmconnector-token-transfers-(avalanche)/transfernft---erc-721-safetransferfrom-succeeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3d2a957e5efa12ea582212a219606b57",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/nonce?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 14,
            "text": "{\"nonce\":\"19\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999789"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777981981"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 256,
      },
      {
        "_id": "3cc7084eca853bf3a04720e497b7ac03",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "addressFrom",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            },
            {
              "name": "addressTo",
              "value": "0x356eD8F4553817412Ff2FE53E8e3D14dbaf419fb"
            },
            {
              "name": "nonce",
              "value": "19"
            },
            {
              "name": "amount",
              "value": "0"
            },
            {
              "name": "data",
              "value": "0x42842e0e000000000000000000000000e7c19d5a90352b5ee0144363d1191e2549ca2146000000000000000000000000df24f68aa8a034bcd7779c5bed3a9bd7e7e114890000000000000000000000000000000000000000000000000000000000000001"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/estimateGas?addressFrom=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146&addressTo=0x356eD8F4553817412Ff2FE53E8e3D14dbaf419fb&nonce=19&amount=0&data=0x42842e0e000000000000000000000000e7c19d5a90352b5ee0144363d1191e2549ca2146000000000000000000000000df24f68aa8a034bcd7779c5bed3a9bd7e7e114890000000000000000000000000000000000000000000000000000000000000001"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 33,
            "text": "{\"error\":\"Internal server error\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999788"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777981981"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 147,
      },
      {
        "_id": "811878313ca240f06f3542f20db0f9a2",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/addressBalance?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 145,
            "text": "{\"address\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"confirmed\":\"0.335854705439303314\",\"unconfirmed\":\"0\",\"confirmedWei\":\"335854705439303314\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999786"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777981981"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      },
      {
        "_id": "8980a734c8c670256280492d42a69e7d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/avalanche/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 678,
            "text": "{\"low\":{\"maxFeePerGas\":\"1.98011e-12\",\"maxPriorityFeePerGas\":\"0\",\"confirmationTimeSecs\":5.22,\"maxFeePerGasGwei\":\"0.00198011\",\"maxPriorityFeePerGasGwei\":\"0\"},\"normal\":{\"maxFeePerGas\":\"1.98111e-12\",\"maxPriorityFeePerGas\":\"1e-15\",\"confirmationTimeSecs\":2.61,\"maxFeePerGasGwei\":\"0.00198111\",\"maxPriorityFeePerGasGwei\":\"0.000001\"},\"high\":{\"maxFeePerGas\":\"1.98111e-12\",\"maxPriorityFeePerGas\":\"1e-15\",\"confirmationTimeSecs\":1.305,\"maxFeePerGasGwei\":\"0.00198111\",\"maxPriorityFeePerGasGwei\":\"0.000001\"},\"maximum\":{\"maxFeePerGas\":\"2.1704832e-11\",\"maxPriorityFeePerGas\":\"1.9724722e-11\",\"confirmationTimeSecs\":1.305,\"maxFeePerGasGwei\":\"0.021704832\",\"maxPriorityFeePerGasGwei\":\"0.019724722\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999787"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777981981"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 196,
      },
      {
        "_id": "3fcd406791a7ecc1e128ee3dddc89807",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"transactionRaw\":\"0x02f8cf82a86a138203e8831e3ab68301d4c094356ed8f4553817412ff2fe53e8e3d14dbaf419fb80b86442842e0e000000000000000000000000e7c19d5a90352b5ee0144363d1191e2549ca2146000000000000000000000000df24f68aa8a034bcd7779c5bed3a9bd7e7e114890000000000000000000000000000000000000000000000000000000000000001c080a062c647db7bbe3236a8d45c1921934d4a56f6067025bff281af11106780cd4cf5a0238f4dd555595ecafaac24b3d9ade34685a8a844b2fd8fa9395abc4afbe08737\"}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/avalanche/broadcastTransaction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 86,
            "text": "{\"transactionId\":\"0x5c5834f11ace1c5dd5977074772a8d8a7e0cc3cb5a8e0341bad35c63078a664b\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999784"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777984285"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 312,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
