{
  "log": {
    "_recordingName": "evmrpcconnector-(avalanche-via-rpc)/explore-returns-an-evmrpcexplorer-with-working-rpc-calls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c1017bdf2f420321b63c0ce7c784f962",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_getBalance\",\"params\":[\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"latest\"],\"id\":1}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 54,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":\"0x4ad58940bdb9800\",\"id\":1}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 96,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
