{
  "log": {
    "_recordingName": "utxoconnector-(litecoin)/transfer---not-enough-funds-for-large-amount",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "19ad9b307cbf7a6fde2bd413bc0c2db8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/litecoin/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 247,
            "text": "{\"low\":{\"feePerKb\":\"0.00000996\",\"confirmationTimeSecs\":3000},\"normal\":{\"feePerKb\":\"0.00000996\",\"confirmationTimeSecs\":1500},\"high\":{\"feePerKb\":\"0.00000996\",\"confirmationTimeSecs\":750},\"maximum\":{\"feePerKb\":\"0.00000996\",\"confirmationTimeSecs\":150}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999986"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145441"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 81,
      },
      {
        "_id": "6231f8f0bfa095b6efc94f4e3a5165d6",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/litecoin/utxosByAddress?address=ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 247,
            "text": "{\"address\":\"ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu\",\"page\":0,\"utxos\":[{\"txid\":\"3dc23994a6f3601cafd4a8367e5992108a9ea871763f6def4974d6722a353a93\",\"n\":1,\"amount\":\"0.19261351\",\"height\":0,\"script\":\"001404b477ee551394f1669a5fe5f75d7377fee70ba4\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999985"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
        [...]
