{
  "log": {
    "_recordingName": "evmconnector-token-transfers-(avalanche)/transfererc1155---erc-1155-safetransferfrom-succeeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3d2a957e5efa12ea582212a219606b57",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/nonce?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 14,
            "text": "{\"nonce\":\"17\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999827"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777978810"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 293,
      },
      {
        "_id": "3e5e7b892b4f88b3e98f3736b93fde93",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "addressFrom",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            },
            {
              "name": "addressTo",
              "value": "0xD37D5F87c5B607b7D665e9109C23BfBEa5185baE"
            },
            {
              "name": "nonce",
              "[...]
