{
  "log": {
    "_recordingName": "LitecoinWallet.test/litecoin-get-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "334af9de991d057eb6daf68453713757",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/litecoin/addressBalance?address=ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"confirmed\":\"0.19662761\",\"unconfirmed\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-vA4bFHHEI6xaDA/Goo0LxvUG8bg\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
