{
  "log": {
    "_recordingName": "rpcurls/bitcointestnet---getbestblockhash-returns-a-valid-block-hash",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "13cd6de1e62be63de6f258cdfb4ecd9d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"getbestblockhash\",\"params\":[],\"id\":1}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/rpc/bitcointestnet"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 100,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":\"00000000000bd006d8890725f63e22dde5f6f492ef6c498cfae7f00005ac2bcb\",\"id\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999945"
            },
            {
              "name": "x-quota-reset",
              "value": "1773705600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773673744"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 45,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
