{
  "log": {
    "_recordingName": "evmconnector.callcontract-(ethereum)/callcontract---not-enough-funds-for-large-eth-value",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "af5e8ddd7b197cbbcd014fae59936c52",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "addressFrom",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            },
            {
              "name": "addressTo",
              "value": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
            },
            {
              "name": "nonce",
              "value": "0"
            },
            {
              "name": "amount",
              "value": "1000000000000000000000"
            },
            {
              "name": "data",
              "value": "0x70a08231000000000000000000000000E7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/estimateGas?addressFrom=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146&addressTo=0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48&nonce=0&amount=1000000000000000000000&data=0x70a08231000000000000000000000000E7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 31,
            "text": "{\"error\":\"Insufficient amount\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999969"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773308334"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 96,
      },
      {
        "_id": "4a8bd2f12d7a9dd4553e1885239ed0cb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/ethereum/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 710,
            "text": "{\"low\":{\"maxFeePerGas\":\"4.5101786e-11\",\"maxPriorityFeePerGas\":\"1.5e-17\",\"confirmationTimeSecs\":47.76,\"maxFeePerGasGwei\":\"0.045101786\",\"maxPriorityFeePerGasGwei\":\"1.5e-8\"},\"normal\":{\"maxFeePerGas\":\"4.6101771e-11\",\"maxPriorityFeePerGas\":\"1e-12\",\"confirmationTimeSecs\":23.88,\"maxFeePerGasGwei\":\"0.046101771\",\"maxPriorityFeePerGasGwei\":\"0.001\"},\"high\":{\"maxFeePerGas\":\"5.9105184e-11\",\"maxPriorityFeePerGas\":\"1.4003413e-11\",\"confirmationTimeSecs\":11.94,\"maxFeePerGasGwei\":\"0.059105184\",\"maxPriorityFeePerGasGwei\":\"0.014003413\"},\"maximum\":{\"maxFeePerGas\":\"1.949863675e-9\",\"maxPriorityFeePerGas\":\"1.904761904e-9\",\"confirmationTimeSecs\":11.94,\"maxFeePerGasGwei\":\"1.949863675\",\"maxPriorityFeePerGasGwei\":\"1.904761904\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
[...]
