{
  "log": {
    "_recordingName": "evmrpcconnector-(avalanche-via-rpc)/transfer---enough-funds-and-broadcast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "16618df7fbcf1ae0b8c094d228491f0e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_getTransactionCount\",\"params\":[\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"latest\"],\"id\":1}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 40,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":\"0x0\",\"id\":1}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 48,
      },
      {
        "_id": "27bd03f37aab9a7eba4b58b1b11e367b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_gasPrice\",\"params\":[],\"id\":3}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":3,\"result\":\"0x1c574e7\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 49,
      },
      {
        "_id": "4b4ca1296d34a2bad24f9480edee7792",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_estimateGas\",\"params\":[{\"from\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"to\":\"0x1853be2c350EB9588bdC2Af73bDAA0C4B8Ac3583\",\"value\":\"0x5af3107a4000\"}],\"id\":2}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":2,\"result\":\"0x5208\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "[...]
