{
  "log": {
    "_recordingName": "evmrpcconnector-(avalanche-via-rpc)/transfer---fee-data-is-populated",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "64e64b797a04ee3d405d0d253bd97aea",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_getTransactionCount\",\"params\":[\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"pending\"],\"id\":1}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":\"0x13\",\"id\":1}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 62,
      },
      {
        "_id": "f9f901c4c9be06f4a9681172e867f5c9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_estimateGas\",\"params\":[{\"from\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"to\":\"0x1853be2c350EB9588bdC2Af73bDAA0C4B8Ac3583\",\"value\":\"0x5af3107a4000\",\"nonce\":\"0x13\"}],\"id\":2}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":2,\"result\":\"0x5208\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "st[...]
