{
  "log": {
    "_recordingName": "rpcurls/bitcoin---getbestblockhash-returns-a-valid-block-hash",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1ffc6c67e08b20229586882519835555",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"getbestblockhash\",\"params\":[],\"id\":1}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/rpc/bitcoin"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 100,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":\"000000000000000000006b75e4993d34b79a47f31491ffbd9c44bc741cc41918\",\"id\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999949"
            },
            {
              "name": "x-quota-reset",
              "value": "1773705600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773673744"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 55,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
