{
  "log": {
    "_recordingName": "evmconnector.callcontract-(avalanche)/callcontract---not-enough-funds-for-large-avax-value",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "811878313ca240f06f3542f20db0f9a2",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/avalanche/addressBalance?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 145,
            "text": "{\"address\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"confirmed\":\"0.336855590342129165\",\"unconfirmed\":\"0\",\"confirmedWei\":\"336855590342129165\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999995"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1777965593"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133,
      },
      {
        "_id": "8980a734c8c670256280492d42a69e7d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/avalanche/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 667,
            "text": "{\"low\":{\"maxFeePerGas\":\"1.985849e-12\",\"maxPriorityFeePerGas\":\"0\",\"confirmationTimeSecs\":5.08,\"maxFeePerGasGwei\":\"0.001985849\",\"maxPriorityFeePerGasGwei\":\"0\"},\"normal\":{\"maxFeePerGas\":\"1.986849e-12\",\"maxPriorityFeePerGas\":\"1e-15\",\"confirmationTimeSecs\":2.54,\"maxFeePerGasGwei\":\"0.001986849\",\"maxPriorityFeePerGasGwei\":\"0.000001\"},\"high\":{\"maxFeePerGas\":\"1.986849e-12\",\"maxPriorityFeePerGas\":\"1e-15\",\"confirmationTimeSecs\":1.27,\"maxFeePerGasGwei\":\"0.001986849\",\"maxPriorityFeePerGasGwei\":\"0.000001\"},\"maximum\":{\"maxFeePerGas\":\"2.985849e-12\",\"maxPriorityFeePerGas\":\"1e-12\",\"confirmationTimeSecs\":1.27,\"maxFeePerGasGwei\":\"0.002985849\",\"maxPriorityFeePerGasGwei\":\"0.001\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "val[...]
