{
  "log": {
    "_recordingName": "LitecoinWallet.test/litecoin-transfer",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "19ad9b307cbf7a6fde2bd413bc0c2db8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/litecoin/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 246,
            "text": "{\"low\":{\"feePerKb\":\"0.00000932\",\"confirmationTimeSecs\":1500},\"normal\":{\"feePerKb\":\"0.00003319\",\"confirmationTimeSecs\":450},\"high\":{\"feePerKb\":\"0.00003319\",\"confirmationTimeSecs\":300},\"maximum\":{\"feePerKb\":\"0.00003319\",\"confirmationTimeSecs\":150}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"f6-KNpopNUQdZy3Vuha954dIAh2Md0\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "924"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1750118400000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171,
      },
      {
        "_id": "6231f8f0bfa095b6efc94f4e3a5165d6",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/litecoin/utxosByAddress?address=ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 180,
            "text": "{\"page\":0,\"utxos\":[{\"txid\":\"d3cfb7d77b8e095fdd550370b3485d879a96863b01db4cd510619caf6aafc5a8\",\"n\":1,\"amount\":\"0.19662761\",\"script\":\"001404b477ee551394f1669a5fe5f75d7377fee70ba4\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"b4-uUqsY0k9k2bUS5R+WP6qV9R1gFU\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-remaining",
   [...]
