{
  "log": {
    "_recordingName": "evmconnector-token-transfers-(ethereum)/transfertoken---not-enough-eth-for-gas",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "023dd63569030cd542d3f1c0e4220f96",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "addressFrom",
              "value": "0xb44384aEc304B1b1a6B4e52A3B030da169FE8384"
            },
            {
              "name": "addressTo",
              "value": "0xd37d5f87c5b607b7d665e9109c23bfbea5185bae"
            },
            {
              "name": "nonce",
              "value": "0"
            },
            {
              "name": "amount",
              "value": "0"
            },
            {
              "name": "data",
              "value": "0xa9059cbb0000000000000000000000001853be2c350eb9588bdc2af73bdaa0c4b8ac35830000000000000000000000000000000000000000000000000de0b6b3a7640000"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/estimateGas?addressFrom=0xb44384aEc304B1b1a6B4e52A3B030da169FE8384&addressTo=0xd37d5f87c5b607b7d665e9109c23bfbea5185bae&nonce=0&amount=0&data=0xa9059cbb0000000000000000000000001853be2c350eb9588bdc2af73bdaa0c4b8ac35830000000000000000000000000000000000000000000000000de0b6b3a7640000"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 31,
            "text": "{\"error\":\"Insufficient amount\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999979"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773299469"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 137,
      },
      {
        "_id": "cd6475ebc3344928bb68182c8aec7eba",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xb44384aEc304B1b1a6B4e52A3B030da169FE8384"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/addressBalance?address=0xb44384aEc304B1b1a6B4e52A3B030da169FE8384"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 109,
            "text": "{\"address\":\"0xb44384aEc304B1b1a6B4e52A3B030da169FE8384\",\"confirmed\":\"0\",\"unconfirmed\":\"0\",\"confirmedWei\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999977"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773299469"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 185,
      },
      {
        "_id": "4a8bd2f12d7a9dd4553e1885239ed0cb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/ethereum/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 720,
            "text": "{\"low\":{\"maxFeePerGas\":\"4.1319835e-11\",\"maxPriorityFeePerGas\":\"3.7e-17\",\"confirmationTimeSecs\":47.76,\"maxFeePerGasGwei\":\"0.041319835\",\"maxPriorityFeePerGasGwei\":\"3.7e-8\"},\"normal\":{\"maxFeePerGas\":\"4.2728802e-11\",\"maxPriorityFeePerGas\":\"1.409004e-12\",\"confirmationTimeSecs\":23.88,\"maxFeePerGasGwei\":\"0.042728802\",\"maxPriorityFeePerGasGwei\":\"0.001409004\"},\"high\":{\"maxFeePerGas\":\"4.8261746e-11\",\"maxPriorityFeePerGas\":\"6.941948e-12\",\"confirmationTimeSecs\":11.94,\"maxFeePerGasGwei\":\"0.048261746\",\"maxPriorityFeePerGasGwei\":\"0.006941948\"},\"maximum\":{\"maxFeePerGas\":\"1.05054907e-9\",\"maxPriorityFeePerGas\":\"1.009229272e-9\",\"confirmationTimeSecs\":11.94,\"maxFeePerGasGwei\":\"1.05054907\",\"maxPriorityFeePerGasGwei\":\"1.009229272\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
  [...]
