{
  "log": {
    "_recordingName": "EthereumWallet.test/ethereum-transfer",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3d34dc2d430aa74fff64cde031bedc2b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/addressBalance?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 50,
            "text": "{\"confirmed\":\"0.00198349910279\",\"unconfirmed\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"32-CdFH6anLFn6L4u1xzR8u4dMUrXg\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "896"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1750118400000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 364,
      },
      {
        "_id": "4a8bd2f12d7a9dd4553e1885239ed0cb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/ethereum/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 422,
            "text": "{\"low\":{\"maxFeePerGas\":\"1.714210446e-9\",\"maxPriorityFeePerGas\":\"1.166989e-11\",\"confirmationTimeSecs\":120},\"normal\":{\"maxFeePerGas\":\"1.824774705e-9\",\"maxPriorityFeePerGas\":\"1.12182852e-10\",\"confirmationTimeSecs\":40},\"high\":{\"maxFeePerGas\":\"2.681237407e-9\",\"maxPriorityFeePerGas\":\"8.90785309e-10\",\"confirmationTimeSecs\":20},\"maximum\":{\"maxFeePerGas\":\"3.901373567e-9\",\"maxPriorityFeePerGas\":\"2e-9\",\"confirmationTimeSecs\":14}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1a6-WweggiTBS/QhzR0UoK61K+9H1n4\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
[...]
