{
  "log": {
    "_recordingName": "evmconnector-(ethereum)/gets-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3d34dc2d430aa74fff64cde031bedc2b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/addressBalance?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 140,
            "text": "{\"address\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"confirmed\":\"0.007696426773984\",\"unconfirmed\":\"0\",\"confirmedWei\":\"7696426773984000\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000"
            },
            {
              "name": "x-quota-remaining",
              "value": "966"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "19"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773136104"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 244,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
