{
  "log": {
    "_recordingName": "rpcurls/bitcoincash---getbestblockhash-returns-a-valid-block-hash",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f000f7f898398721fbfd860f3b3b6d62",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"getbestblockhash\",\"params\":[],\"id\":1}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/rpc/bitcoincash"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "{\"result\":\"000000000000000000bf4880f6b1a78a888e7ddc2e790ee442b975b086aa9812\",\"error\":null,\"id\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999946"
            },
            {
              "name": "x-quota-reset",
              "value": "1773705600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773673744"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 49,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
