{
  "log": {
    "_recordingName": "bchconnector-(bitcoin-cash)/gets-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "703b6a7154894ca4974db5e534b60ffc",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "bitcoincash:qrt7fjrlh7eyqnsrpc0drzrdsyu7wdhmlguvqwz4lk"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcoincash/addressBalance?address=bitcoincash%3Aqrt7fjrlh7eyqnsrpc0drzrdsyu7wdhmlguvqwz4lk"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 136,
            "text": "{\"address\":\"bitcoincash:qrt7fjrlh7eyqnsrpc0drzrdsyu7wdhmlguvqwz4lk\",\"confirmed\":\"0.04460027\",\"unconfirmed\":\"0\",\"confirmedSat\":\"4460027\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999966"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773150459"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 299,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
