{
  "log": {
    "_recordingName": "rpcurls/dogecoin---getbestblockhash-returns-a-valid-block-hash",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7f15f0160d1d77183beeda5ef3905ae7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"getbestblockhash\",\"params\":[],\"id\":1}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/rpc/dogecoin"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "{\"result\":\"b500a3c8f4ce0b4444025316fa7b44a70aa6f051abe6f963f8f1a6522ee60d28\",\"error\":null,\"id\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999947"
            },
            {
              "name": "x-quota-reset",
              "value": "1773705600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773673744"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 39,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
