{
  "log": {
    "_recordingName": "BitcoinTestnetWallet.test/bitcoin-testnet-get-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "aae6064ca3bb34ada7bcd3684285c871",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcointestnet/addressBalance?address=tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"confirmed\":\"0.00063501\",\"unconfirmed\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-wgoKu0UGOzJviGndefNiTMkvn38\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "918"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1750118400000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 636,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
