{
  "log": {
    "_recordingName": "evmconnector-(ethereum)/transfer---not-enough-funds-for-large-amount",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3d34dc2d430aa74fff64cde031bedc2b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/addressBalance?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 140,
            "text": "{\"address\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"confirmed\":\"0.007696426773984\",\"unconfirmed\":\"0\",\"confirmedWei\":\"7696426773984000\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000"
            },
            {
              "name": "x-quota-remaining",
              "value": "962"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "15"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773136104"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155,
      },
      {
        "_id": "4a8bd2f12d7a9dd4553e1885239ed0cb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/ethereum/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 694,
            "text": "{\"low\":{\"maxFeePerGas\":\"1.27093123e-10\",\"maxPriorityFeePerGas\":\"2.2e-16\",\"confirmationTimeSecs\":48,\"maxFeePerGasGwei\":\"0.127093123\",\"maxPriorityFeePerGasGwei\":\"2.2e-7\"},\"normal\":{\"maxFeePerGas\":\"1.31722262e-10\",\"maxPriorityFeePerGas\":\"4.629359e-12\",\"confirmationTimeSecs\":24,\"maxFeePerGasGwei\":\"0.131722262\",\"maxPriorityFeePerGasGwei\":\"0.004629359\"},\"high\":{\"maxFeePerGas\":\"1.64792927e-10\",\"maxPriorityFeePerGas\":\"3.7700024e-11\",\"confirmationTimeSecs\":12,\"maxFeePerGasGwei\":\"0.164792927\",\"maxPriorityFeePerGasGwei\":\"0.037700024\"},\"maximum\":{\"maxFeePerGas\":\"2.127092903e-9\",\"maxPriorityFeePerGas\":\"2e-9\",\"confirmationTimeSecs\":12,\"maxFeePerGasGwei\":\"2.127092903\",\"maxPriorityFeePerGasGwei\":\"2\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000"
            },
            {
              "name": "x-quota-remaining",
              "value": "96[...]
