{
  "log": {
    "_recordingName": "BitcoinCashWallet.test/bitcoin-cash-get-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "703b6a7154894ca4974db5e534b60ffc",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "bitcoincash:qrt7fjrlh7eyqnsrpc0drzrdsyu7wdhmlguvqwz4lk"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcoincash/addressBalance?address=bitcoincash%3Aqrt7fjrlh7eyqnsrpc0drzrdsyu7wdhmlguvqwz4lk"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"confirmed\":\"0.04540479\",\"unconfirmed\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-xQNnA+eeY6c3Ye3PNogUFfweiVs\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "904"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1750118400000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 373,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
