{
  "log": {
    "_recordingName": "BitcoinWallet.test/bitcoin-transfer",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b0a2f172cf9d03955acb1deffcafa793",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/bitcoin/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 245,
            "text": "{\"low\":{\"feePerKb\":\"0.00001\",\"confirmationTimeSecs\":6000},\"normal\":{\"feePerKb\":\"0.00001079\",\"confirmationTimeSecs\":1800},\"high\":{\"feePerKb\":\"0.00001079\",\"confirmationTimeSecs\":1200},\"maximum\":{\"feePerKb\":\"0.00001079\",\"confirmationTimeSecs\":600}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"f5-U1lNWCVqT/DkGIX9MjCFxklmg+Y\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "930"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1750118400000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 197,
      },
      {
        "_id": "83178f2947b311d0b8be7a2d0455af22",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcoin/utxosByAddress?address=bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 180,
            "text": "{\"page\":0,\"utxos\":[{\"txid\":\"98f04fb1e708cc18525e49ad05b4d6055496a86f231b04bc132f2fd712d1f488\",\"n\":1,\"amount\":\"0.00019957\",\"script\":\"0014c715d0455ef8919cd1256037edaa29be2d12cbbe\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"b4-1Jgc0p29igZj4DHx3Zs84BMJTTI\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-remaining",
   [...]
