{
  "log": {
    "_recordingName": "rpcurls/litecoin---getbestblockhash-returns-a-valid-block-hash",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "baf8a30891a4716daa8f50ff29474d95",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"getbestblockhash\",\"params\":[],\"id\":1}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/rpc/litecoin"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "{\"result\":\"9f6eb6bed5caf7067e52e7f7f96a3a6074d1600e61cfab7f6687430a7595557a\",\"error\":null,\"id\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999948"
            },
            {
              "name": "x-quota-reset",
              "value": "1773705600"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773673744"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 54,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
