{
  "log": {
    "_recordingName": "utxoconnector-(bitcoin)/transfer---not-enough-funds-for-large-amount",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b0a2f172cf9d03955acb1deffcafa793",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/bitcoin/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 249,
            "text": "{\"low\":{\"feePerKb\":\"0.00000782\",\"confirmationTimeSecs\":12000},\"normal\":{\"feePerKb\":\"0.00001013\",\"confirmationTimeSecs\":6000},\"high\":{\"feePerKb\":\"0.00001013\",\"confirmationTimeSecs\":3000},\"maximum\":{\"feePerKb\":\"0.00001013\",\"confirmationTimeSecs\":600}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999998"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145440"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 109,
      },
      {
        "_id": "83178f2947b311d0b8be7a2d0455af22",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcoin/utxosByAddress?address=bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 246,
            "text": "{\"address\":\"bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass\",\"page\":0,\"utxos\":[{\"txid\":\"95feafd637a9036c3a931ee52e4f8f010c1ce78d167f2987f7ea4ea96f59b933\",\"n\":1,\"amount\":\"0.00018675\",\"height\":0,\"script\":\"0014c715d0455ef8919cd1256037edaa29be2d12cbbe\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999997"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
        [...]
