{
  "log": {
    "_recordingName": "utxoconnector-(litecoin)/gets-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "334af9de991d057eb6daf68453713757",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/litecoin/addressBalance?address=ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 126,
            "text": "{\"address\":\"ltc1qqj680mj4zw20ze56tljlwhtnwllwwzayraveyu\",\"confirmed\":\"0.19261351\",\"unconfirmed\":\"0\",\"confirmedSat\":\"19261351\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999987"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145440"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
