{
  "log": {
    "_recordingName": "bchconnector-(bitcoin-cash)/transfer---enough-funds-and-broadcast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "525663a778b754ff069a08def474fa16",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/bitcoincash/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 237,
            "text": "{\"low\":{\"feePerKb\":\"0.00001\",\"confirmationTimeSecs\":12000},\"normal\":{\"feePerKb\":\"0.00001\",\"confirmationTimeSecs\":6000},\"high\":{\"feePerKb\":\"0.00001\",\"confirmationTimeSecs\":3000},\"maximum\":{\"feePerKb\":\"0.00001\",\"confirmationTimeSecs\":600}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999962"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773150460"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 80,
      },
      {
        "_id": "bdfa82a0e542c732e25d16baaa3f08fc",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "1LgYMNydv74dHHK8BhRteV3pcpAFZLCgdt"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcoincash/utxosByAddress?address=1LgYMNydv74dHHK8BhRteV3pcpAFZLCgdt&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 244,
            "text": "{\"address\":\"1LgYMNydv74dHHK8BhRteV3pcpAFZLCgdt\",\"page\":0,\"utxos\":[{\"txid\":\"8620ce3cda62c59e2fb74bb503cb05d0b8c90d03e96c564785c91b8fe5828319\",\"n\":1,\"amount\":\"0.04460027\",\"height\":0,\"script\":\"76a914d7e4c87fbfb2404e030e1ed1886d8139e736fbfa88ac\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999961"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773150460"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      },
      {
        "_id": "d7114b9b4398dd1612b32e37620b1eac",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"transactionRaw\":\"0200000001198382e58f1bc98547566ce9030dc9b8d005cb03b54bb72f9ec562da3cce2086010000006b4830450221009cf03fbec85349d62f005db008e7bf5b11b7b531695edfca8d766ce0b73ba7920220216d2132c4021c1f41b996f07c293a612b935af01d7cc17bddf8a9d5303daa514121037dc745591392e9ee5a78e8cd711848fbf5ec0596db617700047711453464757affffffff02409c0000000000001976a914299f3c6e65f58d0018807f20fb2928522119a9d088acd9704300000000001976a914d7e4c87fbfb2404e030e1ed1886d8139e736fbfa88ac00000000\"}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/bitcoincash/broadcastTransaction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"txId\":\"b3d4f1b823e0aeb3a97d82095d9371756afaa2a6bd3aceb353b4a3acf14da133\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999960"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773150460"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 62,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
