{
  "log": {
    "_recordingName": "evmrpcconnector-(avalanche-via-rpc)/transfer---not-enough-funds-for-large-amount",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "16618df7fbcf1ae0b8c094d228491f0e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_getTransactionCount\",\"params\":[\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"latest\"],\"id\":1}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 40,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0x0\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47,
      },
      {
        "_id": "27bd03f37aab9a7eba4b58b1b11e367b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_gasPrice\",\"params\":[],\"id\":3}"
          },
          "queryString": [],
   [...]
