{
  "log": {
    "_recordingName": "utxoconnector-(bitcoin-testnet)/transfer---not-enough-funds-for-large-amount",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f339fef3e52e9df7473fc78093a81748",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/bitcointestnet/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 249,
            "text": "{\"low\":{\"feePerKb\":\"0.00000999\",\"confirmationTimeSecs\":12000},\"normal\":{\"feePerKb\":\"0.00000999\",\"confirmationTimeSecs\":6000},\"high\":{\"feePerKb\":\"0.00000999\",\"confirmationTimeSecs\":3000},\"maximum\":{\"feePerKb\":\"0.00000999\",\"confirmationTimeSecs\":600}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999972"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773146918"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133,
      },
      {
        "_id": "2a542c192e07b3f7ba3ea101822604fa",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcointestnet/utxosByAddress?address=tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 241,
            "text": "{\"address\":\"tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73\",\"page\":0,\"utxos\":[{\"txid\":\"54d776050466865c7ad3bb02363947cc918acec7450c563422ae0c53ebb0f64b\",\"n\":0,\"amount\":\"0.005\",\"height\":0,\"script\":\"00140799fd7311705f68cc79bcd25fc4aaee377f30ce\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999971"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
        [...]
