{
  "log": {
    "_recordingName": "utxoconnector-(bitcoin)/gets-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f04dd90990b1a498bc9ea99c0f2dffa0",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcoin/addressBalance?address=bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 122,
            "text": "{\"address\":\"bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass\",\"confirmed\":\"0.00018675\",\"unconfirmed\":\"0\",\"confirmedSat\":\"18675\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999999"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145439"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 210,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
