{
  "log": {
    "_recordingName": "evmrpcconnector-token-transfers-(avalanche-via-rpc)/transfertoken---erc-20-transfer-succeeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "16618df7fbcf1ae0b8c094d228491f0e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_getTransactionCount\",\"params\":[\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"latest\"],\"id\":1}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 40,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0x4\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 91,
      },
      {
        "_id": "e14c8e9f402a34e51f023902d8c30229",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_estimateGas\",\"params\":[{\"from\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"to\":\"0x3be5123ff8c89f6f5b1c70cd82e2ff70eb8d1475\",\"value\":\"0x0\",\"data\":\"0xa9059cbb000000000000000000000000df24f68aa8a034bcd7779c5bed3a9bd7e7e114890000000000000000000000000000000000000000000000000de0b6b3a7640000\"}],\"id\":2}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":2,\"result\":\"0xcb10\"}\n"
          },
          "headers": [
[...]
