{
  "log": {
    "_recordingName": "evmrpcconnector-token-transfers-(avalanche-via-rpc)/transfertoken---erc-20-transfer-succeeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "262da3f4b07a019adecd6ee500aeed15",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_call\",\"params\":[{\"to\":\"0x3be5123ff8c89f6f5b1c70cd82e2ff70eb8d1475\",\"data\":\"0x313ce567\"},\"latest\"],\"id\":1}"
          },
          "queryString": [],
          "url": "https://avalanche-c-chain-rpc.publicnode.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 103,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0x0000000000000000000000000000000000000000000000000000000000000012\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 146,
      },
      {
        "_id": "a8230f09204f9912e64693e7454e3c8c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_gasPrice\",\"params\":[],\"id\":4}"
          },
          "queryString": [],
  [...]
