{
  "log": {
    "_recordingName": "evmconnector-token-transfers-(ethereum)/transfererc1155---erc-1155-safetransferfrom-succeeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4a8bd2f12d7a9dd4553e1885239ed0cb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/ethereum/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 718,
            "text": "{\"low\":{\"maxFeePerGas\":\"3.4524627e-11\",\"maxPriorityFeePerGas\":\"3.7e-17\",\"confirmationTimeSecs\":47.76,\"maxFeePerGasGwei\":\"0.034524627\",\"maxPriorityFeePerGasGwei\":\"3.7e-8\"},\"normal\":{\"maxFeePerGas\":\"3.5922394e-11\",\"maxPriorityFeePerGas\":\"1.397804e-12\",\"confirmationTimeSecs\":23.88,\"maxFeePerGasGwei\":\"0.035922394\",\"maxPriorityFeePerGasGwei\":\"0.001397804\"},\"high\":{\"maxFeePerGas\":\"4.1505996e-11\",\"maxPriorityFeePerGas\":\"6.981406e-12\",\"confirmationTimeSecs\":11.94,\"maxFeePerGasGwei\":\"0.041505996\",\"maxPriorityFeePerGasGwei\":\"0.006981406\"},\"maximum\":{\"maxFeePerGas\":\"1.04352935e-9\",\"maxPriorityFeePerGas\":\"1.00900476e-9\",\"confirmationTimeSecs\":11.94,\"maxFeePerGasGwei\":\"1.04352935\",\"maxPriorityFeePerGasGwei\":\"1.00900476\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999982"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773299431"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      },
      {
        "_id": "3d34dc2d430aa74fff64cde031bedc2b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/addressBalance?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 143,
            "text": "{\"address\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"confirmed\":\"0.006606558140178339\",\"unconfirmed\":\"0\",\"confirmedWei\":\"6606558140178339\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999981"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773299431"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 221,
      },
      {
        "_id": "1bd2982ddf38c923545fd91e6dd42ed9",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/nonce?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 14,
            "text": "{\"nonce\":\"11\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999890"
            },
            {
              "name": "x-quota-reset",
              "value": "1778025600"
            },
            {
              "name": "[...]
