{
  "log": {
    "_recordingName": "utxoconnector-(bitcoin-testnet)/gets-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "aae6064ca3bb34ada7bcd3684285c871",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcointestnet/addressBalance?address=tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 118,
            "text": "{\"address\":\"tb1qq7vl6uc3wp0k3nrehnf9l392acmh7vxwawss73\",\"confirmed\":\"0.005\",\"unconfirmed\":\"0\",\"confirmedSat\":\"500000\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999973"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773146918"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 285,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
