{
  "log": {
    "_recordingName": "utxoconnector-(dogecoin)/transfer---not-enough-funds-for-large-amount",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0eef9d456bfa1072fbd7ad7266068272",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/dogecoin/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"low\":{\"feePerKb\":\"0.01002551\",\"confirmationTimeSecs\":1200},\"normal\":{\"feePerKb\":\"0.01002551\",\"confirmationTimeSecs\":600},\"high\":{\"feePerKb\":\"0.43446097\",\"confirmationTimeSecs\":300},\"maximum\":{\"feePerKb\":\"0.50253135\",\"confirmationTimeSecs\":60}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999979"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145441"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 76,
      },
      {
        "_id": "68311715f98f4fd69887e4e66d99e692",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/dogecoin/utxosByAddress?address=DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 243,
            "text": "{\"address\":\"DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy\",\"page\":0,\"utxos\":[{\"txid\":\"1dc33b1546e9c1296f54b7d7e278cca6b8227e7065d53306172b04536ad8c913\",\"n\":1,\"amount\":\"50.693707\",\"height\":0,\"script\":\"76a914a015a5544a699c97eccc90e5f51bc3cf7736e4ed88ac\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999978"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
  [...]
