{
  "log": {
    "_recordingName": "bchconnector-(bitcoin-cash)/transfer---not-enough-funds-for-large-amount",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "525663a778b754ff069a08def474fa16",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/bitcoincash/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 237,
            "text": "{\"low\":{\"feePerKb\":\"0.00001\",\"confirmationTimeSecs\":12000},\"normal\":{\"feePerKb\":\"0.00001\",\"confirmationTimeSecs\":6000},\"high\":{\"feePerKb\":\"0.00001\",\"confirmationTimeSecs\":3000},\"maximum\":{\"feePerKb\":\"0.00001\",\"confirmationTimeSecs\":600}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999965"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773150459"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 182,
      },
      {
        "_id": "bdfa82a0e542c732e25d16baaa3f08fc",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "1LgYMNydv74dHHK8BhRteV3pcpAFZLCgdt"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcoincash/utxosByAddress?address=1LgYMNydv74dHHK8BhRteV3pcpAFZLCgdt&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 244,
            "text": "{\"address\":\"1LgYMNydv74dHHK8BhRteV3pcpAFZLCgdt\",\"page\":0,\"utxos\":[{\"txid\":\"8620ce3cda62c59e2fb74bb503cb05d0b8c90d03e96c564785c91b8fe5828319\",\"n\":1,\"amount\":\"0.04460027\",\"height\":0,\"script\":\"76a914d7e4c87fbfb2404e030e1ed1886d8139e736fbfa88ac\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999964"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
  [...]
