{
  "log": {
    "_recordingName": "utxoconnector-(bitcoin)/transfer---enough-funds-and-broadcast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b0a2f172cf9d03955acb1deffcafa793",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/bitcoin/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 249,
            "text": "{\"low\":{\"feePerKb\":\"0.00000782\",\"confirmationTimeSecs\":12000},\"normal\":{\"feePerKb\":\"0.00001013\",\"confirmationTimeSecs\":6000},\"high\":{\"feePerKb\":\"0.00001013\",\"confirmationTimeSecs\":3000},\"maximum\":{\"feePerKb\":\"0.00001013\",\"confirmationTimeSecs\":600}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999995"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145440"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 49,
      },
      {
        "_id": "83178f2947b311d0b8be7a2d0455af22",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcoin/utxosByAddress?address=bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 246,
            "text": "{\"address\":\"bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass\",\"page\":0,\"utxos\":[{\"txid\":\"95feafd637a9036c3a931ee52e4f8f010c1ce78d167f2987f7ea4ea96f59b933\",\"n\":1,\"amount\":\"0.00018675\",\"height\":0,\"script\":\"0014c715d0455ef8919cd1256037edaa29be2d12cbbe\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999994"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145440"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 62,
      },
      {
        "_id": "046088a15e066b5aca704c2378dca148",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"transactionRaw\":\"0200000000010133b9596fa94eeaf787297f168de71c0c018f4f2ee51e933a6c03a937d6affe950100000000ffffffff02f40100000000000016001465065d8fdd90952bbead3fb159cee9949f205f717246000000000000160014c715d0455ef8919cd1256037edaa29be2d12cbbe02483045022100da07b0c2c50d01d7adee07b9b1d3a95507fc1a03ee3500ad1e69475b146181b7022062465e4903938a2905d1ca30dc1bf0816ca89644eab8d42153c8f3d239569ab6012103bfb257c95e432ca91e01792523cbaf99eb28c48567e2329213fb7d94ecfd45ff00000000\"}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/utxo/bitcoin/broadcastTransaction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"txId\":\"0ec9bafa66ba0f4a826432a2706876a95a94b72853bf9515ad895eb99fcd10a8\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999993"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145440"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 75,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
