{
  "log": {
    "_recordingName": "DogecoinWallet.test/dogecoin-get-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ff50195d8fc14f99f5ac115ccc2858e8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/dogecoin/addressBalance?address=DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"confirmed\":\"54.0347862\",\"unconfirmed\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-gu9H2VXPpql8SCG36SxlIXhCLoI\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "911"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1750118400000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 596,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
