{
  "log": {
    "_recordingName": "BitcoinWallet.test/bitcoin-get-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f04dd90990b1a498bc9ea99c0f2dffa0",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/bitcoin/addressBalance?address=bc1qcu2aq327lzgee5f9vqm7m23fhck39ja7j37ass"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"confirmed\":\"0.00019957\",\"unconfirmed\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-m9I+TXx/X/DjPbhTMRZqbaMTJlU\""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "931"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1750118400000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
