{
  "log": {
    "_recordingName": "utxoconnector-(dogecoin)/gets-address-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ff50195d8fc14f99f5ac115ccc2858e8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy"
            }
          ],
          "url": "https://api.chaingate.dev/utxo/dogecoin/addressBalance?address=DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 118,
            "text": "{\"address\":\"DKjYavqdvAFLkvxVzFuks7De1Qho3Ashfy\",\"confirmed\":\"50.693707\",\"unconfirmed\":\"0\",\"confirmedSat\":\"5069370700\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999980"
            },
            {
              "name": "x-quota-reset",
              "value": "1773187200"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773145441"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 68,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
