{
  "log": {
    "_recordingName": "EthereumWallet.test/ethereum-call-smart-contract-function",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ed583a449fe9474e47c7cf67601f9318",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"contract\":\"0x6b175474e89094c44da98b954eedeac495271d0f\",\"data\":\"0x70a082310000000000000000000000006E0d01A76C3Cf4288372a29124A26D4353EE51BE\"}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/ethereum/callSmartContractFunction"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"result\":\"0x0000000000000000000000000000000000000000000000000858898f93629000\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4f-UOqNXt3DzN9ogeFKY7znFtvg3bk\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 327,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
