{
  "log": {
    "_recordingName": "evmconnector-token-transfers-(ethereum)/transfertoken---erc-20-transfer-succeeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "efdc78a27541f705eaabd2aef7f4a3e6",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/addressTransactionCount?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 24,
            "text": "{\"transactionCount\":\"6\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999998"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773299330"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 299,
      },
      {
        "_id": "28e3f2fa1b3d173b963c74ef1e8f2925",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "addressFrom",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            },
            {
              "name": "addressTo",
              "value": "0xd37d5f87c5b607b7d665e9109c23bfbea5185bae"
            },
            {
              "name": "nonce",
              "value": "0"
            },
            {
              "name": "amount",
              "value": "0"
            },
            {
              "name": "data",
              "value": "0xa9059cbb000000000000000000000000df24f68aa8a034bcd7779c5bed3a9bd7e7e114890000000000000000000000000000000000000000000000000de0b6b3a7640000"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/estimateGas?addressFrom=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146&addressTo=0xd37d5f87c5b607b7d665e9109c23bfbea5185bae&nonce=0&amount=0&data=0xa9059cbb000000000000000000000000df24f68aa8a034bcd7779c5bed3a9bd7e7e114890000000000000000000000000000000000000000000000000de0b6b3a7640000"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 24,
            "text": "{\"estimatedGas\":\"51984\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999999"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773299330"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 347,
      },
      {
        "_id": "3d34dc2d430aa74fff64cde031bedc2b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "address",
              "value": "0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
            }
          ],
          "url": "https://api.chaingate.dev/evm/ethereum/addressBalance?address=0xE7c19D5A90352b5eE0144363D1191E2549Ca2146"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 143,
            "text": "{\"address\":\"0xE7c19D5A90352b5eE0144363D1191E2549Ca2146\",\"confirmed\":\"0.006610804363640979\",\"unconfirmed\":\"0\",\"confirmedWei\":\"6610804363640979\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999996"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773299330"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 355,
      },
      {
        "_id": "4a8bd2f12d7a9dd4553e1885239ed0cb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/ethereum/feeRate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 722,
            "text": "{\"low\":{\"maxFeePerGas\":\"3.7527475e-11\",\"maxPriorityFeePerGas\":\"3.7e-17\",\"confirmationTimeSecs\":47.76,\"maxFeePerGasGwei\":\"0.037527475\",\"maxPriorityFeePerGasGwei\":\"3.7e-8\"},\"normal\":{\"maxFeePerGas\":\"3.8923185e-11\",\"maxPriorityFeePerGas\":\"1.395747e-12\",\"confirmationTimeSecs\":23.88,\"maxFeePerGasGwei\":\"0.038923185\",\"maxPriorityFeePerGasGwei\":\"0.001395747\"},\"high\":{\"maxFeePerGas\":\"4.4404026e-11\",\"maxPriorityFeePerGas\":\"6.876588e-12\",\"confirmationTimeSecs\":11.94,\"maxFeePerGasGwei\":\"0.044404026\",\"maxPriorityFeePerGasGwei\":\"0.006876588\"},\"maximum\":{\"maxFeePerGas\":\"1.045760244e-9\",\"maxPriorityFeePerGas\":\"1.008232806e-9\",\"confirmationTimeSecs\":11.94,\"maxFeePerGasGwei\":\"1.045760244\",\"maxPriorityFeePerGasGwei\":\"1.008232806\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999997"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773299330"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 360,
      },
      {
        "_id": "7a835254bf441d0a221de85b798e7d54",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"transactionRaw\":\"0x02f8ae010683154c23840251ebb182cb1094d37d5f87c5b607b7d665e9109c23bfbea5185bae80b844a9059cbb000000000000000000000000df24f68aa8a034bcd7779c5bed3a9bd7e7e114890000000000000000000000000000000000000000000000000de0b6b3a7640000c080a031731c56ecd37ba129de86551c3d23f929d4f127877ddc59bee140abe4427ff0a06124de415476fb67ec7bb3c570f5cd65335ccadd7bba87646896a1b90c8c20a2\"}"
          },
          "queryString": [],
          "url": "https://api.chaingate.dev/evm/ethereum/broadcastTransaction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 86,
            "text": "{\"transactionId\":\"0x6509170a2db29dbbc7f7bab982441d450880b25e4c1eb798e471e1c3a415c144\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-quota-limit",
              "value": "1000000"
            },
            {
              "name": "x-quota-remaining",
              "value": "999995"
            },
            {
              "name": "x-quota-reset",
              "value": "1773360000"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "200"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1773299330"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
